@model IEnumerable<BlogApplication.Models.Article>

<div class="text-center">
    <form class="search-container">
        <div class="wrap">
            <div class="search">
                <input type="text" name="query" class="searchTerm" placeholder="Search news...">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
                <span><i>You can search by title or date</i></span>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Story)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td>
                    @if (item != null)
                    {
                        <img class="" src="@item.Image" alt="Image" style="max-width: 150px" />
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Story)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
